@import "partials/reset"; //import Eric Meyer's CSS Reset. Remove this if you have a reset in your main stylesheet
@import "partials/mixins"; //vendor prefixing mixins
@import "spin-cir"; //vendor prefixing mixins

img {
    max-width: 100%;
}

html{
    height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
}

.music-word, .laughter-word, .game-word, .food-word {
    color: #60bbd4;
    line-height: 3em;
    text-align: center;
}

.title {
    font-size: 4em;
}

#sequence, .photo-container, .black-container, .blank {
    overflow: hidden;
    height: 100vh;
    position: relative; /* required */
    width: 100%;
}

#sequence > .sequence-canvas li > * {  /* required */
    position: absolute;
}


#sequence > .sequence-canvas { /* required */
    height: 100%; 
    width: 100%;
}

#sequence > .sequence-canvas > li { /* required */
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Invitaiton */ 
.inv-container {
    left: 23%;
    top: 20%;
    text-align: center
}
.inv {
    box-shadow: 0px 1px 0px #a8a8a8;
    padding: 10px;
}
.hit {
    margin: 50px auto;
    line-height: 1.5em;
    .brows-des {
        font-size: 0.8em;
    }
}
.inter {
    padding: 0px 15px;
}

/* Slide-UNION */
.union, .union-2, .union-3 {
    // background-image:url('../img/beckie_bk.png');
    background: #fdfdfd;
    background-repeat: repeat;
}

/* First */
.first {
    background: rgb(165,51,89); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(165,51,89,1) 1%, rgba(107,50,65,1) 40%, rgba(107,50,65,1) 40%, rgba(230,94,98,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(165,51,89,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(87%,rgba(230,94,98,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a53359', endColorstr='#e65e62',GradientType=0 ); /* IE6-9 */
}
.first-container {
    width: 100%;
    padding-top: 13%;
    opacity: 0;
    color: #e65e62;    
}
.first-word, .laughter-word {
    max-width: 1000px;
    font-size: 4em;
    margin: auto;    
    text-align: center;
} 

/* My 25th */
@include prefixedKeyframe("fade"){
    from { opacity: 0.1; }
    to { opacity: 1; }
};
.my-25th {
    background: rgb(165,51,89); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(165,51,89,1) 1%, rgba(107,50,65,1) 40%, rgba(107,50,65,1) 40%, rgba(230,94,98,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(165,51,89,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(87%,rgba(230,94,98,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a53359', endColorstr='#e65e62',GradientType=0 ); /* IE6-9 */
    
    .bir-word {
        @include prefixed(animation, fade 2s ease-in-out);
    }
}

.party {
    background: rgb(165,51,89); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(165,51,89,1) 1%, rgba(107,50,65,1) 40%, rgba(107,50,65,1) 40%, rgba(230,94,98,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(165,51,89,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(40%,rgba(107,50,65,1)), color-stop(87%,rgba(230,94,98,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(165,51,89,1) 1%,rgba(107,50,65,1) 40%,rgba(107,50,65,1) 40%,rgba(230,94,98,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a53359', endColorstr='#e65e62',GradientType=0 ); /* IE6-9 */
    

}
.party-word {
     color: #F6DD7E;
     font-size: 7em;
}

@include prefixedKeyframe("draw"){
    from { transform: 0.1; }
    to { opacity: 1; }  
};

.line {
    width: 10px;
    height: 100px;
    background: yellow;
    transform:skewX(-60deg);
}
/* MUSIC */

@include prefixedKeyframe("draw"){
    from { transform: 0.1; }
    to { opacity: 1; }  
};
@include prefixedKeyframe ("spin") { 
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.music {
    background: #3f7ad6;
    color: white;
    height: 100%;
    padding: 5px;
    width: 100%;
    opacity: 0;
}

.beckie { 
    width: 60%;
    margin-left: 30%;
}

.bk-circle{
    opacity: 0.3;

    background: white;
    width: 200px;
    height: 200px;
    margin-left: 10%;
    color: #60bbd4;
    border: 50px solid white;
    // padding-top: 65px;
    // padding-bottom: 65px;
    border-radius: 100%;
    @include prefixed(transform, scale(0.8));
}

// spin-cir


/* FOOD */
.food-word {
    color: #a53359;
}
.food-bk-circle {
    left: 10%;
    margin-top: 10px;
}
.cake {
    right: 17.5%;
    top: 20%;
}
.table {
    right: 15%;
    top: 50%;
}

/* GAME */
.game {
    background: rgb(230,94,98); /* Old browsers */
    background: -moz-radial-gradient(40% 60%, circle farthest-side,  rgba(230,94,98,1) 1%, rgba(226,165,78,1) 11%, rgba(207,116,86,1) 30%, rgba(211,51,28,1) 53%, rgba(226,165,78,1) 74%, rgba(216,124,130,1) 89%, rgba(226,89,30,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(radial, 40% 60%, 0px, 40% 60%, 100%, color-stop(1%,rgba(230,94,98,1)), color-stop(11%,rgba(226,165,78,1)), color-stop(30%,rgba(207,116,86,1)), color-stop(53%,rgba(211,51,28,1)), color-stop(74%,rgba(226,165,78,1)), color-stop(89%,rgba(216,124,130,1)), color-stop(98%,rgba(226,89,30,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(40% 60%, circle farthest-side, rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(40% 60%, circle farthest-side,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* Opera 12+ */
    background: -ms-radial-gradient(40% 60%, circle farthest-side,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* IE10+ */
    background: radial-gradient(circle at 40% 60%,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65e62', endColorstr='#e2591e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.lamp1 {
    height: 50%;
    margin-left: 65%;
    margin-top: -100%;
}
.lamp2 {
    height: 45%;
    margin-left: 55%;
    margin-top: -100%;
    @include prefixed(transition-delay, 0.2s);
}
.lamp3 {
    height: 25%;
    margin-left: 70%;
    margin-top: -100%;
    @include prefixed(transition-delay, 0.3s);
    // @include prefixed(animation, fade 2s ease-in-out);

}
.lamp {
    @include prefixed(transition-duration, 0.6s);
    @include prefixed(animation, ease-in-out);
}
.game-word {
    line-height: 2.5em;
    color: #e64742;
    text-shadow: 0px -1px 0px #CCCCCC;
}
.game-bk-circle {
    left: 18%;    
    top: none;
    bottom: 20%;
}

/* LAUGHTER */
.laughter {
    background: #e2591e;
    height: 100%;
    padding: 5px;
    width: 100%;
    opacity: 0;
    position: relative;
    background: rgb(230,94,98); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(230,94,98,1) 1%, rgba(226,165,78,1) 11%, rgba(207,116,86,1) 30%, rgba(211,51,28,1) 53%, rgba(226,165,78,1) 74%, rgba(216,124,130,1) 89%, rgba(226,89,30,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(230,94,98,1)), color-stop(11%,rgba(226,165,78,1)), color-stop(30%,rgba(207,116,86,1)), color-stop(53%,rgba(211,51,28,1)), color-stop(74%,rgba(226,165,78,1)), color-stop(89%,rgba(216,124,130,1)), color-stop(98%,rgba(226,89,30,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(230,94,98,1) 1%,rgba(226,165,78,1) 11%,rgba(207,116,86,1) 30%,rgba(211,51,28,1) 53%,rgba(226,165,78,1) 74%,rgba(216,124,130,1) 89%,rgba(226,89,30,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65e62', endColorstr='#e2591e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .title {
        font-size: 3em;
    }
}
.laugh {
    width: 10px;
    position: absolute;
}
li.laughter div.laughter-bk-circle {
    right: 20%;
    position: absolute;
    margin-top: 80px;
}
.laughter-word, {
    color: #e2591e;
    line-height: 4em;
}
.laugh1 {
    left: 45%;
    top: 25%;
}
.laugh2 {
    left: 30%;
    top: 35%;
}
.laugh3 {
    left: 40%;
    top: 55%;
}

/* JOIN */
@include prefixedKeyframe("float"){
    0% { margin-top: 8%; };
    50% { margin-top: 10%; };
    100% { margin-top: 8%; };
};

.join {
    background-image: url('../img/ybear.JPG');
    background-repeat:no-repeat;
    background-size: 100% auto;

    .black-container {
        background: rgba(0,0,0,0.7);
    }
    .link {
        color: #a53359;
        text-decoration: none;
        background: rgba(255,255,255,0.2);
        font-family: 'Lato', Helvetica, sans-serif;
        border: 20px solid transparent;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        &:hover {
            color: white;
        }
    }
    .link-container {
        width: 150px;
        margin-left: 50%;
        margin-top: 8%;
        margin-right: auto;
        @include prefixed(animation, float 2s ease-in-out infinite);
    }
    .tri {
        width: 0;
        height: 0;
        margin-top: 26px;
        border-style: solid;
        border-width: 45px 30px 0 8px;
        border-color: rgba(255,255,255,0.2) transparent transparent transparent;
    }
    .cover-bear {
        display: block;
        background: white;
        width: 30%;
        height: 70%;
        left: 33%;
        top: 17%;
        opacity: 0;
    }
} 


/* ANIMATION */ 
.animate-out {
    .beckie {
        margin-top: 0;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
        // transform:skewX(2deg);
    }
    
    .bk-circle {
        margin-top: 1%;
        opacity: 0.3;
        @include prefixed(transition-duration, 0.4s);
    }
}

.animate-in {
    /* FIRST */
    .first-container {
        padding-top: 20%;
        opacity: 1;
        @include prefixed(transition-duration, 5s);
        @include prefixed(transition-duration, 2s);
    }
    /* MUSIC */ 
    .spin-cir-1-container {
        opacity: 1;
        @include prefixed(transition-duration, 1s);
    }
    .beckie {
        margin-top: 10%;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
    }

    .bk-circle {
        @include prefixed(transition-duration, 5s);
        @include prefixed(transform, scale(1.2));

        margin-top: 100px;
        opacity: 1;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    /* GAME */
    .lamp1, .lamp3 {
        margin-top: 0;
    }
    .lamp2 {
        margin-top: -80px;
    }
    
    /* LAUGH */ 
    .laugh2 {
        @include prefixed(transition-delay, 0.1s);
    }
    .laugh3 {
        @include prefixed(transition-delay, 0.2s);
    }
    .laugh {
        @include prefixed(transition-duration, 0.8s);
        @include prefixed(transform, scale(15));
    }
    
}


.music {

}

.bridge {
    background: orange;
}

/* set */
