.spin-cir-1-container {
    transform: rotate(-40deg);
    @include prefixed(transform-origin, center center);
    width: 400px;
    position: absolute;
    top: 20%;
    right: 30%;
}
.spin-cir-1 {
    position: relative;
}
.spin-cir-1 > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10em solid #FFFFFF;
    border-radius: 10em;
    left: 0em;
    top: 0em;
}
.spin-cir-1 > i+i {
    @include prefixed(transform-origin, 65% 35%);
    @include prefixed(animation, spin 1s linear infinite);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6em solid #60bbd4;
    border-radius: 6em;
    left: 2em;
    top: 4.5em;
}
.lspin-cir-1 > i+i+i {
    @include prefixed(animation, spin 2s linear 1);
    @include prefixed(transform-origin, left center);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 8em solid transparent;
    border-left: 0px;
    border-right: 15em solid #61bbd4;
    left: 10em;
    top: 3em;
}

.spin-cir-2-container {
    @include prefixed(transform-origin, center center);
    width: 400px;
    position: absolute;
    top: 10%;
    right: 24%;
}
.spin-cir-2 {
    position: relative;
}
.spin-cir-2 > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 15em solid #12a69e;
    border-radius: 15em;
    left: 0em;
    top: 0em;
}
.spin-cir-2 > i+i {
    @include prefixed(transform-origin, 45% 50%);
    @include prefixed(animation, spin 1s linear infinite);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 12em solid #60bbd4;
    border-radius: 12em;
    left: 3em;
    top: 3em;
}
.lspin-cir-2 > i+i+i {
    transform: rotate(-150deg);
    @include prefixed(animation, spin 2s linear 1);
    @include prefixed(transform-origin, left center);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 15em solid transparent;
    border-left: 0px;
    border-right: 20em solid #61bbd4;
    left: 15em;
    top: 0em;
}

.spin-cir-3-container {
    @include prefixed(transform-origin, center center);
    // opacity: 0;
    width: 400px;
    position: absolute;
    top: -1%;
    right: 29%;
}
.spin-cir-3 {
    position: relative;
}
.spin-cir-3 > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 20em solid #a53359;
    border-radius: 20em;
    left: 0em;
    top: 0em;
}
.spin-cir-3 > i+i {
    @include prefixed(transform-origin, 50% 60%);
    @include prefixed(animation, spin 0.4s linear infinite);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 15em solid #60bbd4;
    border-radius: 15em;
    left: 6em;
    top: 2em;
}

.spin-cir-4-container {
    // opacity: 0;

    width: 400px;
    position: absolute;
    top: -12%;
    right: 35%;
}
.spin-cir-4 {
    position: relative;
}
.spin-cir-4 > i {

    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 30em solid #cb3d6b;
    border-radius: 30em;
    left: 0em;
    top: 0em;
}
.spin-cir-4 > i+i {
    @include prefixed(transform-origin, 60% 60%);
    @include prefixed(animation, spin 1s linear infinite);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 21em solid #60bbd4;
    border-radius: 21em;
    left: 5em;
    top: 5em;
}

// .strip3-4, .strip2-3 {
//     width: 11%;
//     height: 80%;
//     background: #60bbd4;
//     @include prefixed(transform-origin, center bottom);
//     @include prefixed(animation, spin 1s linear infinite);
//     left: 60%;
//     top: -30%;
// }

// .strip2-3 {
//     width: 8%;
//     height: 20%;
//     background: #60bbd4;
//     @include prefixed(transform-origin, center bottom);
//     @include prefixed(animation, spin 5s linear infinite);
//     left: 60%;
//     top: -30%;    
// }
