/* prefix declarations */
@mixin prefixed($property, $value...) {
    -webkit-#{$property}:$value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
     -o-#{$property}: $value;
        #{$property}: $value;
}

@mixin prefixedKeyframe($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @-o-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin bubbleMoveKeyframe-5part($name, $left1, $left2, $unit, $opa) {
    $opacity: 1;
    @if $opa > 0 {
        $opacity: $opa;
    }
    @include prefixedKeyframe($name) {
        0% { left: #{$left1}; bottom: -10%; opacity: #{$opacity} };
        20% { left: #{$left2}; bottom: #{$unit}; opacity: #{$opacity} };
        40% { left: #{$left1}; bottom: #{$unit*2}; opacity: #{$opacity} };
        60% { left: #{$left2}; bottom: #{$unit*3}; opacity: #{$opacity} };
        80% { left: #{$left1}; bottom: #{$unit*4}; opacity: #{$opacity} };
        100% { left: #{$left2}; bottom: 110%; opacity: #{$opacity} };
    }
}

@mixin bubbleMoveKeyframe-4part($name, $left1, $left2, $unit, $opa) {
    $opacity: 1;
    @if $opa > 0 {
        $opacity: $opa;
    }
    @include prefixedKeyframe($name) {
        0% { left: #{$left1}; bottom: -10%; opacity: #{$opacity} };
        25% { left: #{$left2}; bottom: #{$unit*1}; opacity: #{$opacity} };
        50% { left: #{$left1}; bottom: #{$unit*2}; opacity: #{$opacity} };
        75% { left: #{$left1}; bottom: #{$unit*3}; opacity: #{$opacity} };
        100% { left: #{$left2}; bottom: 110%; opacity: #{$opacity} };
    }
}
